version: '3.8'

services:
  mongodb:
    image: mongo
    container_name: mongodb-rs
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: mongod --replSet rs0 --bind_ip_all
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'127.0.0.1:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 30

volumes:
  mongo-data: